<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cibertec.InterfaceMapper.TipoIncidenciaModelMapper">
	<resultMap type="TipoIncidencia" id="rmTipoIncidencia">
		<id column="idTipoIncidencia" property="idTipoIncidencia" jdbcType="INTEGER" />
		<result column="sDescripcion" property="sDescripcion" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="listarTipoIncidencia" resultMap="rmTipoIncidencia"
		statementType="CALLABLE">
		{call SGI_WEB_R_LISTARTIPOINCIDENCIA()}
	</select>
	
	
</mapper>