/*TODOS los estilos del header/botonera del diseño.*/
.navbar-fixed-bottom >.navbar-header > .navbar-brand {
    float: left;
    height: 30px;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 20px;
    cursor: default;
}
.navbar-fixed-bottom {
	min-height: 30px;
}

.navbar-fixed-top {
	min-height: 50px;
}